
h1 Welcome to BunnyBots

.container
	ul
		li
			a(href="match_view") Match View
		li
			a(href="master") Master Match View
		li
			a(href="input") Match Input
		li
			a(href="referee") Referee
		li
			a(href="verify") Match Verify
		li
			a(href="rankings") Team Rankings
		li
			a(href="master_add_team") Master Add Team

img(src='img/bunnybot.png')