link(rel='stylesheet', type='text/css', href='/css/style.css')

h2.text-center(style="margin-top:-30px;") BunnyBots Referee Panel

.row
  //autonomous panel
  .col-sm-4
    .panel.panel-default
      .panel-heading
        h4.text-center Autonomous
      .panel-body
        p.text-center Hole Color
        .row
          .btn-group.btn-group-lg.btn-group-justified
            btn.btn.btn-default.btn-danger(ng-click="changeHoleColor('red')") Red
            btn.btn.btn-default(ng-click="changeHoleColor()") None
            btn.btn.btn-default.btn-primary(ng-click="changeHoleColor('blue')") Blue


    //fouls
    .panel.panel-default
      .panel-heading
        h4.text-center Scoring
      .panel-body
        //red
        .row
          .col-sm-4
            btn.btn.btn-lg.btn-default.btn-danger(ng-click="emitRefereeInput('red','score',-1)")
              .glyphicon.glyphicon-minus.white-glyph
          .col-sm-4
            h4.text-center(ng-bind="redScore", ng-init="redScore=0")
          .col-sm-4
            btn.btn.btn-lg.btn-default.btn-danger.pull-right(ng-click="emitRefereeInput('red','score',1)")
              .glyphicon.glyphicon-plus.white-glyph

        //blue
        .row
          .col-sm-4
            btn.btn.btn-lg.btn-default.btn-primary(ng-click="emitRefereeInput('blue','score',-1)")
              .glyphicon.glyphicon-minus.white-glyph
          .col-sm-4
            h4.text-center(ng-bind="blueScore", ng-init="blueScore=0")
          .col-sm-4
            btn.btn.btn-lg.btn-default.btn-primary.pull-right(ng-click="emitRefereeInput('blue','score',1)")
              .glyphicon.glyphicon-plus.white-glyph

  //information and match timing
  .col-sm-4
    .row
      .col-sm-10.col-sm-offset-1
        p.score.text-center(ng-bind="timeLeft", ng-init="timeLeft='2:30'")

    // message box?



  //teleop panel
  .col-sm-4
    .panel.panel-default
      .panel-heading
        h4.text-center Penalties
      .panel-body

        .row
          p Foul

        .row
          .col-sm-4
            btn.btn.btn-lg.btn-default.btn-danger(ng-click="emitRefereeInput('red','fouls',5)")
              .glyphicon.glyphicon-minus.white-glyph
          .col-sm-4
            h4.text-center(ng-bind="redFouls", ng-init="redFouls=0")
          .col-sm-4
            btn.btn.btn-lg.btn-default.btn-danger.pull-right(ng-click="emitRefereeInput('red','fouls',-5)")
              .glyphicon.glyphicon-plus.white-glyph

        //blue
        .row
          .col-sm-4
            btn.btn.btn-lg.btn-default.btn-primary(ng-click="emitRefereeInput('blue','fouls',5)")
              .glyphicon.glyphicon-minus.white-glyph
          .col-sm-4
            h4.text-center(ng-bind="blueFouls", ng-init="blueFouls=0")
          .col-sm-4
            btn.btn.btn-lg.btn-default.btn-primary.pull-right(ng-click="emitRefereeInput('blue','fouls',-5)")
              .glyphicon.glyphicon-plus.white-glyph



        .row
          p Technical Foul
          
        .row
          .col-sm-4
            btn.btn.btn-lg.btn-default.btn-danger(ng-click="emitRefereeInput('red','fouls',10)")
              .glyphicon.glyphicon-minus.white-glyph
          .col-sm-4
            h4.text-center(ng-bind="redFouls", ng-init="redFouls=0")
          .col-sm-4
            btn.btn.btn-lg.btn-default.btn-danger.pull-right(ng-click="emitRefereeInput('red','fouls',-10)")
              .glyphicon.glyphicon-plus.white-glyph

        //blue
        .row
          .col-sm-4
            btn.btn.btn-lg.btn-default.btn-primary(ng-click="emitRefereeInput('blue','fouls',10)")
              .glyphicon.glyphicon-minus.white-glyph
          .col-sm-4
            h4.text-center(ng-bind="blueFouls", ng-init="blueFouls=0")
          .col-sm-4
            btn.btn.btn-lg.btn-default.btn-primary.pull-right(ng-click="emitRefereeInput('blue','fouls',-10)")
              .glyphicon.glyphicon-plus.white-glyph
              
    .panel.panel-default
    .panel-heading
      h4.text-center 8 Ball
    .panel-body
      //red
      .row
        .col-sm-4
          btn.btn.btn-lg.btn-default.btn-danger(ng-click="emitRefereeInput('red','score',-1)")
            .glyphicon.glyphicon-minus.white-glyph
        .col-sm-4
          h4.text-center(ng-bind="redScore", ng-init="redScore=0")
        .col-sm-4
          btn.btn.btn-lg.btn-default.btn-danger(ng-click="emitRefereeInput('red','score',1)")
            .glyphicon.glyphicon-plus.white-glyph

      //blue
      .row
        .col-sm-4
          btn.btn.btn-lg.btn-default.btn-primary(ng-click="emitRefereeInput('blue','score',-1)")
            .glyphicon.glyphicon-minus.white-glyph
        .col-sm-4
          h4.text-center(ng-bind="blueScore", ng-init="blueScore=0")
        .col-sm-4
          btn.btn.btn-lg.btn-default.btn-primary(ng-click="emitRefereeInput('blue','score',1)")
            .glyphicon.glyphicon-plus.white-glyph


    .panel.panel-default
      .panel-heading
        h4.text-center 8-Ball (ignore timing)
      .panel-body
        .row
          .col-sm-6
            btn.btn.btn-lg.btn-danger.btn-default(ng-click="eightBallScored('red', true)") Good 8-Ball
          .col-sm-6
            btn.btn.btn-lg.btn-primary.btn-default(ng-click="eightBallScored('blue', true)") Good 8-Ball
        .row
          .col-sm-6
            btn.btn.btn-lg.btn-danger.btn-default(ng-click="eightBallScored('red', false)") Bad 8-Ball
          .col-sm-6
            btn.btn.btn-lg.btn-primary.btn-default(ng-click="eightBallScored('blue', false)") Bad 8-Ball



//
  link(rel='stylesheet', type='text/css', href='/css/style.css')

  h1#header.text-center BunnyBots Referee Panel
  .container
    .row
          .col-sm-3
            h3.text-center Hole Color
            br
            div
              .col-sm-3.button
              .col-sm-3.red.button
              .col-sm-3.button
              .col-sm-3.button
              .col-sm-3.gray.button
              .col-sm-3.button
              .col-sm-3.button
              .col-sm-3.blue.button
          #fieldPicture.col-sm-6
            p.text-center Placeholder for picture of field
          .col-sm-3
            h3.text-center     Teleop Points
            .col-sm-1
            .col-sm-5.text-center
              p 0
              .red.button.text-center
                p ↑
              .red.button.text-center
                p ↓
            .col-sm-1
            .col-sm-4.text-center
              p 0
              .blue.button.text-center
                p ↑
              .blue.button.text-center
                p ↓
    .row
          #autoBox.col-sm-4
            h3.text-center Autonomous Points
            .col-sm-1
            .col-sm-5.text-center
              p 0
              .red.button.text-center
                p ↑
              .red.button.text-center
                p ↓
            .col-sm-5.text-center
              p 0
              .blue.button.text-center
                p ↑
              .blue.button.text-center
                p ↓
          .col-sm-4
            h3.text-center Foul Points
            .col-sm-2
            .col-sm-4.text-center
              p 0
              .red.button.text-center
                p 10 points
              .red.button.text-center
                p 5 points
            .col-sm-4.text-center
              p 0
              .blue.button.text-center
                p 10 points
              .blue.button.text-center
                p 5 points
