link(rel='stylesheet', type='text/css', href='/css/style.css')
  style(type='text/css')
      .button {
      width: 80px;
      margin: 5px 0px 5px 0px;
      padding: 20px 0px 20px 0px;
      background-color: white;
      border-radius: 20px;
      }
      .gray {
      background-color: gray;
      }
      .red {
      background-color: #E9474B;
      }
      .blue {
      background-color: #4C3DED;
      }
      #fieldPicture {
      height: 300px;
      background-color: black;
      color: white;
      }
      #autoBox {
      margin-left: -25px;
      margin-right: 22px;
      }
      #header {
      margin-bottom: 30px;
      }
    h1#header.text-center BunnyBots Referee Panel
    .container
      .row
        .col-xs-3
          h3.text-center Hole Color
          br
          div(style='margin-left: 8px;')
            .col-xs-3.button
            .col-xs-3.red.button
            .col-xs-3.button
            .col-xs-3.button
            .col-xs-3.gray.button
            .col-xs-3.button
            .col-xs-3.button
            .col-xs-3.blue.button
        #fieldPicture.col-xs-6
          p.text-center Placeholder for picture of field
        .col-xs-3
          h3.text-center     Teleop Points
          .col-xs-1
          .col-xs-5.text-center
            p 0
            .red.button.text-center
              p ↑
            .red.button.text-center
              p ↓
          .col-xs-1
          .col-xs-4.text-center
            p 0
            .blue.button.text-center
              p ↑
            .blue.button.text-center
              p ↓
      .row
        #autoBox.col-xs-4
          h3.text-center Autonomous Points
          .col-xs-1
          .col-xs-5.text-center
            p 0
            .red.button.text-center
              p ↑
            .red.button.text-center
              p ↓
          .col-xs-5.text-center
            p 0
            .blue.button.text-center
              p ↑
            .blue.button.text-center
              p ↓
        .col-xs-4
          h3.text-center Foul Points
          .col-xs-2
          .col-xs-4.text-center
            p 0
            .red.button.text-center
              p 10 points
            .red.button.text-center
              p 5 points
          .col-xs-4.text-center
            p 0
            .blue.button.text-center
              p 10 points
            .blue.button.text-center
              p 5 points
