link(rel='stylesheet', type='text/css', href='/css/style.css')

h1#header.text-center BunnyBots Referee Panel
.container
  .row
        .col-sm-3
          h3.text-center Hole Color
          br
          div(style='margin-left: 8px;')
            .col-sm-3.button
            .col-sm-3.red.button
            .col-sm-3.button
            .col-sm-3.button
            .col-sm-3.gray.button
            .col-sm-3.button
            .col-sm-3.button
            .col-sm-3.blue.button
        #fieldPicture.col-sm-6
          p.text-center Placeholder for picture of field
        .col-sm-3
          h3.text-center     Teleop Points
          .col-sm-1
          .col-sm-5.text-center
            p 0
            .red.button.text-center
              p ↑
            .red.button.text-center
              p ↓
          .col-sm-1
          .col-sm-4.text-center
            p 0
            .blue.button.text-center
              p ↑
            .blue.button.text-center
              p ↓
  .row
        #autoBox.col-sm-4
          h3.text-center Autonomous Points
          .col-sm-1
          .col-sm-5.text-center
            p 0
            .red.button.text-center
              p ↑
            .red.button.text-center
              p ↓
          .col-sm-5.text-center
            p 0
            .blue.button.text-center
              p ↑
            .blue.button.text-center
              p ↓
        .col-sm-4
          h3.text-center Foul Points
          .col-sm-2
          .col-sm-4.text-center
            p 0
            .red.button.text-center
              p 10 points
            .red.button.text-center
              p 5 points
          .col-sm-4.text-center
            p 0
            .blue.button.text-center
              p 10 points
            .blue.button.text-center
              p 5 points
