!!!
html(ng-app="bunnybots2013")
  head
    meta(charset='utf-8')
    base(href='/')
    title Bunnybots
    link(rel='stylesheet', type='text/css', href='/libs/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/css/index.css')
  body
    .container#mainWrapper(ng-controller='AppCtrl')
      //img#bunny.img-polaroid(src="/img/bunnybot.png")
      header.navbar.navbar-inverse.navbar-fixed-top
        .container
          .navbar-header
            a.navbar-brand(href="/") Bunnybots
          nav
            //on the left side of the nav
            ul.nav.navbar-nav
              li
                a(href="match_view") Match View
              li
                a(href="master") Master Match View
              li
                a(href="input") Match Input
              li
                a(href="referee") Referee
              li
                a(href="verify") Match Verify
              li
                a(href="rankings") Team Rankings
              li
                a(href="matches") Match History
            //on the right side of the nav
            ul.nav.navbar-nav.navbar-right
              li
                a(href="http://www.team1540.org", target="blank") Team 1540
      
      .container
        div(ng-view)

      footer.navbar-fixed-bottom
        .container
          p &copy 2013 Flaming Chickens

    script(src='libs/angular/angular.js')
    script(src='libs/angular-route/angular-route.js')
    script(src='js/main.js')
