doctype 5
html
  head
    link(href="/libs/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet", type="text/css")
    link(rel='stylesheet', href='/css/index.css', type='text/css')
    //ELLIOT'S CSS: link(rel='stylesheet', href='/css/style.css', type='text/css')
  body
    //img#bunny.img-polaroid(src="/img/bunnybot.png")
    header.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href="#") Bunnybots
        nav
          //on the left side of the nav
          ul.nav.navbar-nav
            li
              a(href="#") link
            li
              a(href="#") link
            li
              a(href="#") link
            li
              a(href="#") link
          //on the right side of the nav
          ul.nav.navbar-nav.navbar-right
            li
              a(href="http://www.team1540.org", target="blank") Team 1540

    .container
      p nelknfj


    footer.navbar.navbar-fixed-bottom
      .container
        p &copy 2013 Flaming Chickens

