doctype 5
html
  head
    link(href="/libs/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet", type="text/css")
    link(rel='stylesheet', href='/css/style.css', type='text/css')
  body
    
        
    .jumbotron#outer  
      img#bunny.img-polaroid(src="/img/bunnybot.png",align="right",width="90px",height="123")
      h1#matchviewtitle(align="center") Verify
      .container
        .row-fluid
          .col-md-5#leftcolred
              .row
                .col-md-4
                  h3 Team Number
                .col-md-4
                  h3 Pts.
                .col-md-4
                  h3 Fouls
              .row
                .col-md-4
                  h3 1234
                .col-md-4
                  h3 4
                    a.btn.glyphicon.glyphicon-plus
                    a.btn.glyphicon.glyphicon-minus
                .col-md-4
                  h3 5
                    a.btn.glyphicon.glyphicon-plus
                    a.btn.glyphicon.glyphicon-minus
              .row
                .col-md-4
                  h3 4321
                .col-md-4
                  h3 61
                    a.btn.glyphicon.glyphicon-plus
                    a.btn.glyphicon.glyphicon-minus
                .col-md-4
                  h3 3
                    a.btn.glyphicon.glyphicon-plus
                    a.btn.glyphicon.glyphicon-minus
              .row
                .col-md-4
                  h3 1540
                .col-md-4
                  h3 9001
                    a.btn.glyphicon.glyphicon-plus
                    a.btn.glyphicon.glyphicon-minus
                .col-md-4
                  h3 0
                    a.btn.glyphicon.glyphicon-plus
                    a.btn.glyphicon.glyphicon-minus

          .col-md-1

          .col-md-5#leftcolblue
              .row
                .col-md-4
                  h3 Team Number
                .col-md-4
                  h3 Pts.
                .col-md-4
                  h3 Fouls
              .row
                .col-md-4
                  h3 1234
                .col-md-4
                  h3 4
                    a.btn.glyphicon.glyphicon-plus
                    a.btn.glyphicon.glyphicon-minus
                .col-md-4
                  h3 5
                    a.btn.glyphicon.glyphicon-plus
                    a.btn.glyphicon.glyphicon-minus
              .row
                .col-md-4
                  h3 4321
                .col-md-4
                  h3 61
                    a.btn.glyphicon.glyphicon-plus
                    a.btn.glyphicon.glyphicon-minus
                .col-md-4
                  h3 3
                    a.btn.glyphicon.glyphicon-plus
                    a.btn.glyphicon.glyphicon-minus
              .row
                .col-md-4
                  h3 1540
                .col-md-4
                  h3 9001
                    a.btn.glyphicon.glyphicon-plus
                    a.btn.glyphicon.glyphicon-minus
                .col-md-4
                  h3 0
                    a.btn.glyphicon.glyphicon-plus
                    a.btn.glyphicon.glyphicon-minus
    left
      a.btn.btn-lg.btn-primary#start Submit

   