red_alliance = rgba(233,45,45,.75) //red
blue_alliance = rgba(45,45,233,.75) //blue

body
  padding 50px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif

.btn-group-control
  width 100%

#start, #pause
  border-color #999999
  background-color rgba(221,221,221,.5)
  color #329932
  width 50%

#reset
  border-color #999999
  background-color rgba(221,221,221,.5)
  color #cc0000
  width 50%

#leftcolred
  border-left 7px solid red_alliance
  min-height 200px

#rightcolblue
  border-right 7px solid blue_alliance
  min-height  200px

#leftcolblue
  border-left 7px solid blue_alliance
  min-height 200px

#topcolred
  border-top 15px solid red_alliance
  min-width 200px

#topcolblue
  border-top 15px solid blue_alliance
  min-width 200px

/*score numbers*/
.score
  font-size 15rem

.glyphicon.glyphicon-plus
  color green

.glyphicon.glyphicon-minus
  color red_alliance

.progress
  height 50px